[submodule "Hazel/third_party/spdlog"]
	path = Hazel/third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/third_party/GLFW"]
	path = Hazel/third_party/GLFW
	url = https://github.com/glfw/glfw
